input {
    /* width: 0rem;  */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    cursor: pointer;
}

#addSubmit {
    background-color: #4caf50;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
}

table th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
}

th,
td {
    padding: 5px;
    text-align: left;
    cursor: pointer;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: 100;
}